      <div class="row">
        <div class="col-lg-8">
            <img src="https://scontent-sjc3-1.xx.fbcdn.net/v/t31.0-8/22712473_10107198499052098_1702231474341196388_o.jpg?_nc_cat=0&_nc_eui2=v1%3AAeE4m5AAJkxlHP7J-9O3MePA1GFhgRsXV_9K13ppD1XHa4CU9kpWQiNcJbR_w76tjo_VwmpRKqu3ptBm5x41QrWk7CSfiH00_YZZ9T5lw1BJCw&oh=e89900d93640c91fa51b960904892179&oe=5B588CC2" width="100%" style="border-radius: 20pt">
        </div>

        <div class="col-lg-4">
          <!-- Event Notifications -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bell-o"></i> Event Calendar</div>
            <div class="list-group list-group-flush small">
                
<?php

foreach ($events as $event) {
    $start = strtotime($event['event_start']);
    $end = strtotime($event['event_end']);
    $duration = $end - $start;
    
    // Is the event more than 24 hours?
    if ($end - $start > 86400) {
        $event_duration = date('m/d/Y', $start) . ' - ' . date('m/d/Y', $end);
    } else {
        $event_duration = date('m/d/Y g:ia', $start);
    }
    
    echo <<<TMPL
              <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                  <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">-->
                  <div class="media-body">
                    <strong>$event[event_name]</strong>
                    <div class="text-muted smaller">$event_duration</div>
                  </div>
                </div>
              </a>

TMPL;
}
?>
                

              <!--<a class="list-group-item list-group-item-action" href="#">Download Calendar...</a>-->
            </div>
            <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
          </div>
        </div>
      </div>
