      <div class="row">
          
        <!-- Title Bar -->
        <div class="col-lg-8">
          <!-- Event Listing-->
          <div class="mb-0 mt-0">
            <i class="fa fa-newspaper-o"></i> Upcoming Events</div>
          <hr class="mt-2">
        </div>

        <!-- Start of larger event listing area -->
        <div class="col-lg-8">
            <div class="container">
                <div class="row">
              
<?php

// Cycle through each event, printing them
foreach ($events as $event) {
    // Make friendly start/end date/times
    $start = strtotime($event['event_start']);
    $end = strtotime($event['event_end']);
    $duration = $end - $start;
    
    // Is the event more than 24 hours?
    if ($end - $start > 86400) {
        $event_duration = date('D M jS, Y', $start) . ' thru <br>' . date('D M jS, Y', $end);
    } else {
        $event_duration = date('D M jS, Y', $start) . '<br>' . date('g:ia', $start) . ' thru ' . date('g:ia', $end);
    }
    
echo <<<TMPL
        <div class="col-md-6 col-xs-6 mb-3">
            <!-- Event Item -->
            <div class="card">
              <a href="#">
                <img class="card-img-top w-100" src="images.php?event_id=$event[event_id]" alt="" height="140px">
              </a>
              <div class="card-body">
                <h6 class="card-title mb-1">
                    <a href="index.php?section=events&page=detail&event_id=$event[event_id]">$event[event_name]</a>
                </h6>
                <p class="card-text small">
                    $event[event_short_description]
                </p>
              </div>
        
              <!-- Dates -->
              <hr class="my-0">
              <div class="card-body py-2 small text-center">
                  $event_duration
              </div>
        
              <!-- RSVP -->
              <hr class="my-0">
              <div class="card-body py-2 small">
                <a class="mr-2 d-inline-block text-primary" href="rsvp.php?event_id=$event[event_id]&rsvp=1">
                  <i class="fa fa-fw fa-thumbs-up"></i>Coming</a>
                <a class="mr-2 d-inline-block text-muted" href="rsvp.php?event_id=$event[event_id]&rsvp=0">
                  <i class="fa fa-fw fa-thumbs-down"></i>Can't Go</a>
                <a class="d-inline-block text-muted" href="index.php?section=events&page=detail&event_id=$event[event_id]">
                  <i class="fa fa-fw fa-share"></i>Learn More</a>
              </div>

              <div class="card-footer small text-muted">Cost: $$event[event_cost]</div>
            </div>
        </div>

TMPL;

}


?>

                </div>
            </div>

        </div>

        <div class="col-lg-4">
          <!-- Event Notifications -->
          <div class="card mb-3">
            <div class="card-header">
              <i class="fa fa-bell-o"></i> Event Calendar</div>
            <div class="list-group list-group-flush small">
                
<?php

foreach ($events as $event) {
    $start = strtotime($event['event_start']);
    $end = strtotime($event['event_end']);
    $duration = $end - $start;
    
    // Is the event more than 24 hours?
    if ($end - $start > 86400) {
        $event_duration = date('m/d/Y', $start) . ' - ' . date('m/d/Y', $end);
    } else {
        $event_duration = date('m/d/Y g:ia', $start);
    }
    
    echo <<<TMPL
              <a class="list-group-item list-group-item-action" href="#">
                <div class="media">
                  <!--<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/45x45" alt="">-->
                  <div class="media-body">
                    <strong>$event[event_name]</strong>
                    <div class="text-muted smaller">$event_duration</div>
                  </div>
                </div>
              </a>

TMPL;
}
?>
                

              <!--<a class="list-group-item list-group-item-action" href="#">Download Calendar...</a>-->
              <hr>
            </div>
            <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
          </div>
        </div>
      </div>
